.App {
  /* Align and justify content in the center of the div */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* set the div size to 100% of the screen size*/
  height: 100vh;
  width: 100vw;
  /* set the background color of the div */
  background-color: #b4b4ff;
}

.watch_header {
  /* set the font size */
  font-size: 60px;
}

.watch {
  /* Align and justify content in the center of the div */
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  /* set size and round the corners */
  border-radius: 24px;
  width: 300px;
  height: 200px;
  /* set the background color and outline */
  background-color: black;
  outline: #4d4c50 solid 16px;
}

.time {
  /* set the font size and color */
  font-size: 32px;
  color: white;
}